/* stylelint-disable */

// Make it similar to Bootstrap
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

// Attempt to copy what they did with Sass to the container? 
.content {
  @extend .grid-container;
  @extend .grid-container-padded;
}

// Building Block: responsive-blog-post

@import "building-blocks/responsive-blog-post";

article.post {
  @extend .responsive-blog-post;

  .entry-summary {
    @extend .individual-post;
  }

  time.updated {
    @extend .date;
  }
}
