/* stylelint-disable */

$responsive-blog-post-highlight: $primary-color;
$responsive-blog-post-vert-seperate: 4rem;

.responsive-blog-post {
  margin-bottom: $responsive-blog-post-vert-seperate;

  .button {
    padding: 0.85rem 3rem;
    background: $responsive-blog-post-highlight;

    &:hover {
      background-color: darken($responsive-blog-post-highlight, 5%);
      transition: color 0.3s ease-in;
    }
  }

  .individual-post {
    margin-bottom: $responsive-blog-post-vert-seperate;

    p {
      color: $dark-gray;
    }
  }

  h2 {
    //margin-bottom: 0;

    & a:hover {
    //  text-decoration: underline;
      transition: color 0.3s ease-in;
    }

    @media screen and (max-width: 39.9375em) {
      font-size: 1.5rem;
    }
  }

  img {
    margin-bottom: 1.5rem;
  }

  .date {
    font-size: 0.8rem;
    color: $dark-gray;
  }
}

/**
 * Usage:
 *

<div class="responsive-blog-post">
  <div class="individual-post">
    <h4>Title of Blog</h4>
    <p class="date">Date</p>
    <img src="http://placehold.it/1200x650">
    <p> First few sentences of blog post show here and then eventually cuts out. First few sentences of blog post show here and then eventually cuts out. First few sentences of blog post show here and then eventually cuts out...</p>
    <a class="button" href="#">Read On</a>
  </div>
</div>

*/
